<%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
  <%= f.error_messages %>
  <div class="inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :boolean %>
    <% end -%>
  </div>
  <div class="buttons">
    <%= f.submit 'Sign in' %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
