.comment{ :"data-id" => comment.id }
  %ul.meta
    %li.author
      = image_tag comment.author.avatar_url(:tiny), :class => 'avatar'
      = comment.author.email
    %li.time{ :title => comment.created_at.to_s }== #{time_ago_in_words(comment.created_at)} ago
  %p.body= simple_format(auto_link(h(comment.body)))
  - if user_signed_in? && (current_user.admin? || comment.author == current_user)
    .actions
      = link_to 'Edit', edit_comment_url(comment), :class => 'edit-link'
      = link_to 'Delete', comment_url(comment), :method => :delete, :confirm => 'Do you want to delete this comment?', :class => 'delete-link'
