- content_for :head do
  = javascript_include_tag 'wymeditor/jquery.wymeditor.pack'

= simple_form_for @article do |f|
  = f.error_messages
  .inputs
    = f.input :title
  .textarea
    = f.text_area :body
  .buttons
    = f.submit
:javascript
  $(function() {
      $('#article_body').wymeditor();
  });
