- page_title @article.title

= render @article

- if current_user && current_user.admin?
  %div
    = link_to "Edit", edit_article_path(@article), :class => 'edit-link'
    = link_to "Delete", @article, :method => :delete, :confirm => 'Do you want to destroy this article', :class => 'delete-link'
#comments-section
  %a{:name => 'comments'}
  %h2= pluralize(@article.comments.count, 'comment')

  .post-comment-form
    - if user_signed_in?
      = render :partial => 'comments/form', :locals => { :article => @article, :comment => Comment.new }
    - else
      %p
        = link_to 'Sign in', new_user_session_path(:next => request.request_uri)
        to post comment
        
  .comments
    = render @article.comments.order('created_at desc')
