%p.feed-buttons
  = link_to articles_url(:format => :atom) do
    = image_tag 'icons/feed.png'
    Subscribe RailsVN blog
.recent-articles-section
  %h3 Recent posts
  %ul.recent-articles
    - recent_articles.each do |article|
      %li
        = link_to article.title, article_path(article), :class => 'title'
        %span.meta== #{article.author.display_name} on #{article.created_at.strftime('%b %d, %Y')}

